 <div class="row">
    <p class="card-text col"><%= comment.user.fullname  %> - <%= comment.body  %></p> 
    <% if comment.user.id == current_user.id%>
    <div class="dropdown col-2">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item disabled" href="#">Edit</a></li>
                <li><%= button_to "delete", {:controller => :posts,:action => 'deletecomment', :id => comment.id }, :method => :delete, class: "dropdown-item" %></li>
      
            </ul>
        </div>
    <% end %>
</div>