<%= form_with model: @comment, url: post_comments_path(post_id: post.id), method: :post, class: "float-right", remote: true do |f| %>
        <div class="field mb-2 row ">
            <%= f.text_field :body, placeholder: "Add a comment", class: "form-control col"%>
            <%= f.submit "Add Comment" , class: "btn btn-primary btn-sm col-3" %>
        </div>
    <% end %>