 <div class="field mb-2">
            <%= f.label :title, class: "form-label" %>
            <%= f.text_area :title, class: "form-control"%>
        </div>
            <div class="field mb-2">
            <%= f.label :image, class: "form-label" %>
            <%= f.file_field :image, class: "form-control"%>
        </div>