<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light shadow-sm" >
  <div class="container-fluid">

    <a class="navbar-brand" href="/posts">
      <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="Instagram"  height="24" class="d-inline-block align-text-middle">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/posts">Home</a>
        </li>
        <% if user_signed_in? %>
         <li class="nav-item">
          <a class="nav-link" href="/posts/new">Add Posts</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Friends</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><%= link_to "Account", account_path(current_user), class: "dropdown-item" %></li>
            <li><a class="dropdown-item disabled" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item"  %></li>
          </ul>
        </li>
        <% else %>
         <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">Sign up</a>
        </li>
        <% end %>


       
        
       
      </ul>

      <% if user_signed_in? %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% end %>

    </div>
  </div>
</nav>